@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { @apply text-slate-600 bg-white tracking-wider; }
}

@layer components {
  h1 { @apply text-2xl font-bold my-4; }
  h2 { @apply text-xl font-bold my-4; }
  h3 { @apply text-lg font-bold my-4; }
  p { @apply my-6 leading-6 text-sm text-justify; }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

main {
  min-height: 75vh;
}

.bigTitle {
  position: absolute;
  left: 0;
}

pre {
  padding: 1rem;
  font-size: .8rem;
  background-color: #e6e4e4;
  overflow-x: scroll;
}

.memo-content > h2 {
  margin: 2rem 0 .5rem;
}

.memo-content > h3 {
  margin: 1rem 0 .5rem;
}

.memo-content > p {
  margin: .5rem 0;
}

@media screen and (min-width: 600px) {
  .memo-content > h2 {
    margin: 4rem 0 1rem;
  }

  .memo-content > h3 {
    margin: 2rem 0 1rem;
  }

  .memo-content > p {
    margin: 1rem 0;
  }
}

@keyframes hover {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(10px) scale(.8);
    opacity: .2;
  }
}

@keyframes hoverReverse {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-10px) scale(.8);
    opacity: .2;
  }
}

@keyframes hoverUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-10px) scale(.8);
    opacity: .2;
  }
}

.buttonHover:hover img{
  animation: hover 1s infinite;
}

.buttonHoverReverse:hover img {
  animation: hoverReverse 1s infinite;
}

.buttonHoverUp:hover img {
  animation: hoverUp 1.4s infinite;
}
